.vacancies-section {
    padding-top: 61px;
    padding-bottom: 108px;
    background: var(--light-bg-color);
}

.vacancies-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 43px;
}

.vacancies-section__title {
    font-family: 'Unbounded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--green-text-color);
}

.vacancies-section__title span {
    color: #D5D5D5;
    padding-left: 10px;
}

.vacancies-section-list__inner{
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    padding-bottom: 65px;
}