.last-news-section {
    background: var(--light-bg-color);
    padding-top: 100px;
    padding-bottom: 116px;
    position: relative;
    z-index: 99;
}

.last-news-section-header {
    display: flex;
    justify-content: space-between;
}

.last-news-section-header__title {
    font-family: 'Unbounded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--green-text-color);
}

.last-news-section-header .last-news-section__link {
    padding: 12px 40px;
    width: 240px;
    height: 52px;
}

.last-news-section__list {
    display: flex;
    gap: 40px;
    margin-top: 64px;
}

.last-news-section__link::after {
    left: 83%;
}

@media screen and (max-width: 900px) {
    .last-news-section__third-child {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .last-news-section-header {
        flex-direction: column;
    }

    .last-news-section__link {
        margin-top: 52px;
        margin-left: auto;
    }

    .last-news-section__list {
        margin-top: 72px;
        gap: 10px;
    }
}

@media screen and (max-width: 520px) {
    .last-news-section__second-child {
        display: none;
    }
    .last-news-section {
        padding-block: 60px;
    }

    .last-news-section-header__title {
        font-size: 30px;
    }

    .last-news-section__list {
        margin-top: 32px;
    }

    /*.last-news-section__item-title {*/
    /*    font-size: 17px;*/
    /*}*/
}


