.burger {
    position: absolute;
    top: 26px;
    right: 24px;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    display: none;
}

.burger:focus {
    outline: none;
}

.burger-line {
    width: 21px;
    height: 2px;
    background: var(--azure-text-color);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.burger.open .burger-line:first-child {
    transform: rotate(45deg);
    background: var(--azure-text-color);
}

.burger.open .burger-line:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.burger.open .burger-line:nth-child(3) {
    transform: rotate(-45deg);
    background: var(--azure-text-color);
}

@media  screen and (max-width: 1200px) {
    .burger {
        display: flex;
    }
}