.header {
    font-family: Jost, sans-serif;
    padding-inline: 15px;
    height: var(--header-height);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-nav__item {
    font-size: 17px;
    line-height: 25px;
}

.header-top-nav__item-link {
    text-decoration: none;
    color: var(--green-text-color);
}

.header-top-nav__item:not(:last-child) {
    margin-right: 20px;
}

.header-top-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-top-lang__item {
    border-inline: 1px solid var(--dark-white-color);
    /*padding-block: 25px;*/
    padding-inline: 19px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-white-color);
}

.header-top-lang__item:not(:last-child) {
    border-inline: none;
    padding-inline: 25px;
}

.header-top-lang__item-link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--green-text-color);
    font-size: 15px;
    line-height: 22px;
}

.header-top-tel {
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    color: var(--azure-text-color);
    font-weight: 700;
    /*padding-top: 25px;*/
    /*padding-bottom: 24px;*/
    padding-left: 24px;
    padding-right: 21px;
}

.header-top-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-top-social__link {
    border-inline: 1px solid var(--dark-white-color);
    padding: 0 28px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-top-social__link:nth-child(2) {
    border-inline: none;
}

.header-top-social__link-img {
    width: 14px;
    height: 14px;
}

.header-top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--dark-white-color);
    height: 100%;
    border-bottom: none;
    border-top: none;
}
