.services .services-section{
    padding-bottom: 0;
}

.services .services-section-header {
    padding-top: 61px;
    padding-bottom: 60px;
    background: var(--light-bg-color);
}

.services .services-section__title {
    color: var(--green-text-color);
}

.services .services-section-header__text {
    color: var(--green-text-color);
}

.services .services-section-list {
    padding-top: 120px;
}

@media (max-width: 638px) {
    .services .services-section {
        padding-top: 0;
    }
}

@media (max-width: 400px) {
    .services .services-section-header{
        padding-top: 19px;
    }
}