.footer {
    background-color: #060a0e;
    color: #fff;
    padding-top: 98px;
    padding-bottom: 50px;
    font-family: Jost, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-inline: 15px;
    gap: 15px;
}

.footer-content__logo-text {
    max-width: 290px;
    width: 100%;
    margin-top: 20px;
    color: #4e5a67;
    font-size: 14px;
    line-height: 21px;
}

.footer-content-menu__link {
    color: #8f99a3;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
}

.footer-content-menu__items:not(:last-child) {
    margin-bottom: 5px;
}

.footer-title {
    font-family: Unbounded, sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 21px;
    color: #4e5a67;
    margin-bottom: 13px;
}

.footer-content-graph__items {
    color: #fff;
    font-size: 17px;
    line-height: 25px;
}

.footer-content-graph__items:nth-child(2) {
    margin-bottom: 26px;
}

.footer-content-graph__link-tel {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-family: Unbounded, sans-serif;
    text-decoration: none;
    color: #00cccc;
    margin-bottom: 7px;
}

.footer-content-graph__link-mail {
    text-decoration: none;
    color: #4e5a67;
    font-size: 17px;
    line-height: 25px;
}

.footer-content-contacts {
    width: 301px;
}

.footer-content-cotacts__text {
    display: block;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-content__link:not(:last-child) {
    margin-right: 10px;
}

.footer-rights {
    font-size: 12px;
    line-height: 17px;
    color: #4e5a67;
    text-align: center;
    margin-top: 39px;
}

@media (max-width: 1200px) {
    .footer-content {
        flex-wrap: wrap;
    }
}
@media (max-width: 1050px) {
    .footer-content__logo {
        flex-basis: 49%;
        margin-bottom: 40px;
    }

    .footer-content-menu {
        flex-basis: 49%;
        margin-bottom: 40px;
    }

    .footer-content-graph {
        flex-basis: 49%;
    }

    .footer-content-contacts {
        flex-basis: 49%;
    }
}

@media (max-width: 824px) {
    .footer-content__logo {
        flex-basis: 40%;
    }

    .footer-content-menu {
        flex-basis: 40%;
    }

    .footer-content-graph {
        flex-basis: 40%;
        margin-bottom: 40px;
    }

    .footer-content-contacts {
        flex-basis: 40%;
        margin-bottom: 40px;
    }

    .footer {
        padding-block: 60px;
    }
}

@media (max-width: 540px) {
    .footer-content__logo {
        flex-basis: 100%;
        order: 4;
    }

    .footer-content-menu {
        flex-basis: 100%;
        order: 1;
    }

    .footer-content-graph {
        flex-basis: 100%;
        order: 2;
    }

    .footer-content-contacts {
        flex-basis: 100%;
        order: 3;
    }

    .footer-content-menu__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-rights {
        text-align: left;
    }
}